@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Poppins;
    line-height: 1.6;
}

header {
    background-color:  rgb(230, 228, 228);
    width: 100%;
    height: 130px;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.container ul {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container img {
    position: relative;
    top: -50px;
    left: 100px;
    height: 230px;
}


.home li {
    background-color: black;
    color: white;
    padding: 10px 20px;
    list-style: none;
    font-size: 14px;
    text-align: center;
    position: relative;
    width: 130px;
    top: 39px;
    left: 730px;

}

.home a {
    color: white;
    text-decoration: none;
}

.sec-logo {
    background-color: #1e1e7b;
    padding: 20px;
    height: 300px;
}

.logo {
    position: relative;
    top: -150px;
    left: 95px;
    height: 550px;
}

.foto {
    position: relative;
    top: -110px;
    left: 230px;
    height: 430px;
}

.paragrafo {
    font-size: 14px;
    line-height: 1.8;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: left;
    position: relative;
    right: 160px;
}

.sec-carrossel {
    background-color:  rgb(230, 228, 228);
    padding: 20px 0;
}

.carrossel {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
    text-align: center;
}

.slide h2 {
    font-size: 24px;
    color: rgb(49, 71, 234);
    margin-bottom: 15px;
}

.p-slide {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    margin: 0 auto;
    height: 250px;
    max-width: 90%;
}

.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.indicador {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border: solid 0.3px rgba(3, 3, 3, 0.158);
    border-radius: 50%;
    cursor: pointer;
}

.indicador.ativo {
    background-color: rgb(90, 90, 90);
}

.section-header {
    background-color: #0a0a71;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 90%;
    height: 300px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    top: -230px;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-number {
    font-size: 2rem;
    font-weight: bold;
    color: #1a1aff;
    margin-bottom: 0.5rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.card-button2,
.card-button3 {
    padding: 0.5rem 1rem;
    background-color: #1a1aff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

.card-button1 {
    padding: 0.5rem 1rem;
    background-color: #1a1aff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 46px;
}

.defesa{
    background-color: rgb(230, 228, 228);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 95.8%;
    position: relative;
    top: -100px;
}

.p-defesa{
    display: flex;
    position: relative;
    top: -80px;
    flex-direction: column;
    background-color: rgb(230, 228, 228);
}

.defesa h2{
    color: #0a0a71;
    font-size: 40px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -120px;
    padding-bottom: 30px;
}

b{
    font-size: 17.5px;
}

.p1, .p2{
    padding: 10px 0px 10px 0px;
    position: relative;
    text-align: center;
   
}

.p1{
    top: -20px;
}

.defesa ul{
    position: relative;
    top: 20px;
    list-style-position: inside;
   
    

}
.defesa li{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

.p2{
    top: 60px;
}

footer {
    background-color: #0a0a71;
    color: white;
    text-align: center;
    padding: 10px 20px;
    height: 100px;
}

.p-ataques{
    position: relative;
    top: -180px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: rgb(176, 176, 170) 10px 10px 10px 10px;
   
}

.div-video{
    display: flex;
    justify-content: center;
}

.video{
    position: relative;
    top: -90px;
}

.h2{
    background-color: #1e1e7b;
    padding: 20px;
    height: 300px;
    font-size: 23px;
    color:rgb(229, 229, 229);
    display: flex;
    justify-content: center;
}

@media (max-width:854px) {

    .home li {
        left: 400px;
    }

    .container img {
        left: 70px;
    }

    .logo {
        height: 500px;
        top: -110px;
    }

    .foto {
        left: 500px;
        top: -400px;
    }
}

@media (max-width: 834px) {
    .logo {
        height: 400px;
        top: -90px;
        left: 50px;

    }

    .foto {
        height: 330px;
        top: -50px;
        left: 115px;
    }

    .paragrafo {
        font-size: 10px;
        max-width: 500px;
        left: -130px;
    }

    .sec-logo {
        height: 250px;
    }

    .home li {
        left: 370px;
        top: 40px;
    }

    .container img {
        left: 50px;
    }

    .p-slide {
        height: 220px;
        font-size: 12px;
    }

    .section-header {
        font-size: 17px;
        position: relative;
        top: 18px;
    }
}

@media (max-width:708px) {

    .logo {
        height: 360px;
        left: 10px;
        top: -70px;
    }

    .foto {
        height: 220px;
        top: -140px;
        left: 80px;
    }

    .paragrafo {
        font-size: 12px;
        left: 10px;
        text-align: center;
    }

    .p-slide {
        height: 235px;
        font-size: 12px;
        padding: 15px;
    }

    .home li {
        left: 250px;
    }

    .cards-container {
        top: -180px;
    }

    .section-header {
        position: relative;
        top: 50px;
    }
}

@media (max-width:586px) {


    .foto {
        left: -15px;
    }

    .section-header {
        font-size: 16px;
        position: relative;
        top: 60px;
    }

    .home li {
        left: 142px;
    }
    .video{
        width: 320px;
        height: 160.75px;
    }
    .p-ataques{
        font-size: 12px;
    }
}

@media (max-width:436px){
    .defesa h2{
        padding-top: 20px;
        font-size: 30px;
    }
    .p-defesa{
        font-size: 15px;
    }
}

@media (max-width: 432px) {
    .home li {
        left: 31px;
        width: 90px;

    }

    .container img {
        left: -5px;
    }

    .foto {
        height: 250px;
        top: -250px;
        left: 90px;
    }

    .logo {
        top: -130px;
        left: 30px;
        height: 320px;
    }


    .sec-logo {
        height: 370px;

    }

    .indicadores {
        position: relative;
        top: 30px;


    }

    .sec-carrossel {
        height: 500px;

    }

    .p-slide {
        height: 330px;
        max-width: 300px;
        font-size: 10px;

    }

    .paragrafo {
        left: 0px;
    }
   

}

@media (max-width: 390px){
    .video{
        width: 320px;
        height: 160.75px;
    }
}

@media (max-width: 360px) {

    
    .home li {
        left: -10px;
        width: 90px;

    }

    .container img {
        left: -10px;
    }

    .foto {
        height: 250px;
        top: -250px;
        left: 60px;
    }

    .logo {
        top: -130px;
        left: -10px;
        height: 320px;
    }

    .sec-logo {
        height: 370px;

    }

    .indicadores {
        position: relative;
        top: 30px;


    }

    .sec-carrossel {
        height: 500px;

    }

    .p-slide {
        height: 330px;
        max-width: 300px;
        font-size: 10px;

    }

    .paragrafo {
        left: 0px;
    }
    
}

@media (max-width: 746px)and (min-width:709px) {

    .home li {
        left: 300px;

    }

    .foto {
        left: 50px;
        height: 270px;
    }
    
}

@media (max-width: 815px)and (min-width:746px) {
    
    .home li {
        left: 300px;

    }

    .foto {
        left: 100px;
        height: 270px;
    }

   
}
